<h1>Editar Aula</h1>

<%= link_to 'Deletar aula',  admin_classroom_lesson_path, method: :delete, data: { confirm: 'Você tem certeza que deseja excluir esta aula?' }, class: "btn btn-danger" %>
<%= render 'form', lesson: @lesson %>
