<div class="actions clearfix">
  <div class="row">
    <div class="col-md-3">
      <%= link_to("Cursos", schedule_courses_path, class: "btn btn-default btn-block btn-lg") %>
    </div>
    <div class="col-md-3">
      <%= link_to("Laboratórios", root_path, class: "btn btn-default btn-block btn-lg") %>
    </div>
    <div class="col-md-3">
      <%= link_to("Salas", root_path, class: "btn btn-default btn-block btn-lg") %>
    </div>
    <div class="col-md-3">
      <%= link_to("Professores", root_path, class: "btn btn-default btn-block btn-lg") %>
    </div>
  </div>
</div>
